body {
    font-family: Roboto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgba(33, 150, 243, 1);
}

:root {
    --blue: rgba(33, 150, 243, 1);
}

.current {
    color: var(--blue);
    padding-bottom: 25px;
    border-bottom: 4px solid #2196f3;
    border-radius: 2px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.company-logo {
    font-size: 26px;
}

.logo-web-text {
    font-family: Raleway;
    font-weight: 700;
}

.logo-studio-text {
    font-family: Raleway;
    font-weight: 400;
    color: black;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-studio-text:hover {
    color: rgba(33, 150, 243, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-web-text {
    color: rgba(33, 150, 243, 1);
}

header {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px rgba(236, 236, 236, 1);
}

.nav-buttons {
    display: inline-block;
    padding: 0 30px;
}

.nav-buttons:nth-child(1) {
    padding-left: 0px;
}

.header-buttons, .nav-contact-buttons {
    font-weight: 500;
    font-size: 14px;
    font-weight: 500;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contact-buttons {
    color: rgba(117, 117, 117, 1);
}

.nav-contact-buttons:nth-child(1) {
    display: inline-block;
    margin-right: 30px;
}

.icon-envelope {
    width: 16px;
    height: 12px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-smartphone {
    width: 10px;
    height: 16px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contact-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.email-contact-div, .phone-number-contact-div {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: rgba(117, 117, 117, 1);
}

.phone-number-contact-div {
    padding-left: 30px;
}

.email-contact-div:hover,
.phone-number-contact-div:hover {
    fill: var(--blue);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.solutions-section {
    min-height: 600px;
    margin-bottom: 94px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/solutions-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main-header {
    margin-top: 0px;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

.request-our-service-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(33, 150, 243, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.request-our-service-button:hover {
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.3);
    color: white;
    transform: translateY(-3px);
}

.request-our-service-button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.icon-antenna,
.icon-clock,
.icon-diagram,
.icon-astronaut {
    width: 70px;
    height: 70px;
}

.company-skills-section-divs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.company-skills-section-divs:nth-child(1) {
    margin-left: 30px;
}

.company-skills-section-divs:nth-child(4) {
    margin-right: 30px;
}

.company-skills-divs {
    background-color: rgba(245, 244, 250, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
}

.company-skills-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.company-skills-text li {
    padding-left: 30px;
    padding-right: 30px;
}

.company-skills-headers {
    color: rgba(33, 33, 33, 1);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    width: 270px;
}

.company-skills-paragraphs {
    color: rgba(117, 117, 117, 1);
    font-size: 14px;
    font-weight: 400;
    width: 270px;
    margin-bottom: 94px;
}

.what-we-do-header {
    font-weight: 700;
    font-size: 36px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.what-we-do-ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.image-with-label {
    position: relative;
    margin: 10px;
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
}

.label-description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
}

.image-with-label>.label-description {
    position: absolute;
    bottom: 0;
    margin: 0;
    font-size: 14px;
    background-color: rgba(47, 48, 58, 0.8);
    color: #fff;
    font-weight: 700;
}

.our-team-header {
    font-weight: 700;
    font-size: 36px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.colleague-card {
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 90px;
}

.colleague-card:hover {
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.2);
}

.colleague-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
}

.team-card-section {
    display: flex;
    justify-content: center;
}

.colleague-role {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
}

.colleague-social-media-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.social-media-icon-div {
    border-radius: 50%;
    fill: #AFB1B8;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icon-div:hover {
    cursor: pointer;
    background-color: var(--blue);
    fill: #fff;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
}

.social-media-icon {
    width: 20px;
    height: 20px;
    display: flex;
    padding: 12px;
}

.regular-customers-section h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: 700;
}

.customers-section {
    margin-top: 20px;
    margin-bottom: 94px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 30px;
}

.customers-div {
    border: 1px solid rgba(175, 177, 184, 1);
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4px;
    fill: #AFB1B8;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 15px 30px;
}

.customers-div:hover {
    cursor: pointer;
    fill: var(--blue);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid var(--blue);
}

.customer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 60px;
}

.portfolio-sorting-section {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    gap: 8px;
}

.portfolio-sorting-buttons {
    background-color: rgba(245, 244, 250, 1);
    border: none;
    color: rgba(33, 33, 33, 1);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.portfolio-sorting-buttons:hover {
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.3);
    color: white;
    background-color: rgba(33, 150, 243, 1);
    transform: translateY(-3px);
}

.portfolio-sorting-buttons:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.portfolio-sorting-buttons:focus {
    background-color: rgba(33, 150, 243, 1);
    color: white;
}

.portfolio-ul{
    padding: 30px 0;
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    margin: 0 auto;
}

.project-card {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
}

.project-card:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}

.project-name, .project-type {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-card > img {
    position: absolute;
}

.box-overlay {
    position: relative;
    width: 370px;
    height: 294px;
    margin: 0 auto;
    overflow: hidden;
}

.overlay-project-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-overlay:hover .overlay-project-image {
    transform: translatey(0);
}

.overlay-project-image p {
    color: #fff;
    padding: 10px;
    margin: 0;
    font-size: 18px;
}

.overlay-text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

footer {
    background-color: rgb(47, 48, 58);
    min-height: 100px;
    padding: 30px 0px;
}

.footer-adresses-div {
    display: inline-block;
}

.footer-company-logo {
    display: inline-block;
    margin-left: 215px;
    margin-bottom: 28px;
    font-size: 26px;
}

.footer-logo-web-text {
    font-family: Raleway;
    font-weight: 700;
    color: rgba(33, 150, 243, 1);
}

.footer-logo-studio-text {
    font-family: Raleway;
    font-weight: 400;
    color: white;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo-studio-text:hover {
    color: rgba(33, 150, 243, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-span:not(:nth-child(1)) {
    line-height: 2;
    display: flex;
    justify-content: left;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 215px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.footer-span:nth-child(1) {
    color: rgba(255, 255, 255, 1);
    margin-left: 215px;
    line-height: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.find-us-on-section {
    display: inline-block;
    margin-left: 70px;
}

.footer-social-media-header {
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.footer-social-media-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-media-icons {
    width: 20px;
    height: 20px;
    padding: 12px;
    fill: white;
}

.footer-social-media-div {
    background-color: #FFFFFF1A;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-div:hover {
    cursor: pointer;
    background-color: var(--blue);
    fill: #fff;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
}

.footer-social-media-div:nth-child(1) {
    margin-left: 0px;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.is-hidden {
    visibility: hidden;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 8px;
    border: 1px solid #888;
    width: 528px;
    height: 581px;
    border-radius: 4px;
}

.close {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}